[submodule "3rdparty/entityx"]
	path = 3rdparty/entityx
	url = https://github.com/InjectorGames/entityx
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/InjectorGames/glm
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/InjectorGames/SDL
[submodule "3rdparty/glew"]
	path = 3rdparty/glew
	url = https://github.com/InjectorGames/glew
[submodule "3rdparty/vxl"]
	path = 3rdparty/vxl
	url = https://github.com/InjectorGames/vxl
[submodule "3rdparty/SDL_net"]
	path = 3rdparty/SDL_net
	url = https://github.com/InjectorGames/SDL_net
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/InjectorGames/asio
